@font-face {
	font-family: Larsseit;
	src: url("/media/fonts/larsseit_regular.ttf");
}

:root {
	--main-green-color: #62d0df;
	--main-blue-color: #22356f;
}

* {
	box-sizing: border-box;
	font-family: Larsseit, sans-serif;
	margin: 0;
	padding: 0;
}
img {
	object-fit: cover;
	display: block;
}
body {
	position: relative;
	overflow-x: hidden;
}

header > .container {
	display: flex;
	justify-content: space-between;
	flex-flow: row wrap;
}

.container {
	width: 1440px;
	margin: 0 auto;
	display: flex;
	align-items: center;
}
header {
	position: absolute;
	top: 27px;
	left: 50%;
	transform: translateX(-50%);
	z-index: 10;
}

.header__brand span {
	color: var(--main-blue-color);
	font-weight: bold;
	font-size: 24px;
}
.header__menu ul {
	display: flex;
	flex-flow: row wrap;
	gap: 27px;
	list-style-type: none;
}
.header__menu a {
	text-decoration: none;
	color: var(--main-blue-color);
}
.list-item_current {
	position: relative;
}
.list-item_current::after {
	content: "";
	display: block;
	background: var(--main-blue-color);
	width: 120%;
	height: 2px;
	position: absolute;
	bottom: -10px;
	left: 50%;
	transform: translateX(-50%);
}
.header__contact button {
	border: none;
	background: var(--main-green-color);
	padding: 20px 30px;
	color: #fff;
	border-radius: 50px;
	text-transform: uppercase;
	font-weight: bold;
	transition: 0.3s ease;
}
.header__contact button:hover {
	background: #58bac7;
}

.hero .bg-element {
	position: absolute;
	right: -100px;
	top: 50px;
	width: 807px;
	height: 545px;
	background: #edfdff;
	border-radius: 312.159px;
	transform: matrix(-0.5, 0.87, 0.87, 0.5, 0, 0);
	z-index: 3;
}
.hero .hero-img {
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	z-index: 4;
}

.hero {
	background: #f4f9e2;
	z-index: -1;
	padding: 241px 0 75px;
}
.hero__subtitle {
	font-weight: bold;
	font-size: 24px;
	line-height: 27px;
	letter-spacing: -0.035em;
	color: var(--main-green-color);
}
.hero__title {
	margin-top: 30px;
	font-size: 48px;
	line-height: 53px;
	letter-spacing: -0.035em;
	color: var(--main-blue-color);
	width: 484px;
	font-weight: 900;
}
.hero p {
	width: 484px;
	margin-top: 40px;
	font-size: 24px;
	line-height: 42px;
	color: var(--main-blue-color);
}
.btn {
	font-size: 16px;
	line-height: 23px;
	letter-spacing: 0.1em;
	padding: 10px 30px 11px;
	color: #f9b640;
	background: none;
	border: none;
	cursor: pointer;
	margin-top: 63px;
	transition: 0.3s ease;
}
.btn::after {
	content: "";
	display: block;
	background: #f9b640;
	height: 2px;
	width: 0;
	transition: 0.3s ease;
}
.btn:hover::after {
	width: 100%;
}
.hero .btn_full {
	background: #f9b640;
	color: #fff;
}
.hero .btn_full:hover {
	background: #fff;
	color: #f9b640;
}
.hero .btn_full:hover::after {
	width: 0;
}

.question {
	background: var(--main-green-color);
}
.question__content {
	display: flex;
	flex-flow: row nowrap;
	width: 100%;
	justify-content: space-between;
}
.question__text {
	color: #fff;
	padding: 151px 0 95px;
	width: 555px;
}
.question__title {
	font-size: 36px;
	line-height: 27px;
	letter-spacing: -0.006em;
	font-weight: bold;
}
.question__descr {
	margin-top: 75px;
	font-size: 24px;
	line-height: 35px;
}
.question__img img {
	height: 100%;
}
.about {
	padding: 156px 0 70px;
	color: var(--main-blue-color);
}
.about > .container {
	display: flex;
	align-items: start;
	justify-content: center;
	gap: 225px;
}
.about__descr {
	width: 592px;
	font-size: 24px;
	line-height: 34px;
	letter-spacing: 0.005em;
}

.can-help {
	margin-bottom: 40px;
}
.can-help__group:nth-child(1) {
	margin-bottom: 120px;
	gap: 24px;
}
.can-help__group {
	display: flex;
	flex-flow: column nowrap;
	width: 100%;
}
.can-help .container {
	display: flex;
	flex-flow: column nowrap;
}
.can-help__title {
	font-size: 16px;
	line-height: 19px;
	text-align: center;
	letter-spacing: 0.06em;
	color: var(--main-blue-color);
}
.can-help__cards {
	display: grid;
	justify-content: center;
	width: 100%;
}
.can-help__cards:nth-of-type(2) {
	grid-template-columns: repeat(4, 1fr);
}
.can-help__cards:nth-of-type(1) {
	grid-template-columns: repeat(3, 1fr);
}
.can-help__cards:nth-of-type(1) .can-help__card {
	min-height: 480px;
}
.can-help__card {
	width: 100%;
	min-height: 360px;
	position: relative;
}
.can-help__card .card__title {
	font-size: 32px;
	line-height: 34px;
	letter-spacing: -0.006em;
	color: #fff;
	font-weight: bold;
	padding: 95px 52px 0 78px;
	position: absolute;
	z-index: 3;
}
.can-help__card .card__title::before {
	content: "";
	display: block;
	background: #fff;
	width: 70%;
	height: 1px;
	position: absolute;
	top: 72px;
	left: 50%;
	transform: translateX(-50%);
}
.can-help__card .card__title::after {
	content: "";
	display: block;
	width: 9px;
	height: 9px;
	background: #e9b730;
	border-radius: 50%;
	position: absolute;
	top: 110px;
	left: 57px;
	transform: translateX(-50%);
}
.can-help__card_pink {
	background: #ffe2de;
}
.can-help__card_green {
	background: #c4e769;
}
.can-help__card_blue-green {
	background: var(--main-green-color);
}
.can-help__card_blue {
	background: #0052c1;
}
.can-help__cards:nth-of-type(1) .can-help__card:nth-of-type(1) {
	background: var(--main-blue-color);
}
.can-help__cards:nth-of-type(1) .can-help__card:nth-of-type(2) {
	background: #0052c1;
}
.can-help__cards:nth-of-type(1) .can-help__card:nth-of-type(3) {
	background: url("../media/img/nutrition.png") center center/cover no-repeat;
	transition: 0.3s ease;
}
.can-help__cards:nth-of-type(1) .can-help__card:nth-of-type(3)::after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
	width: 100%;
	height: 100%;
	background: #76b58b;
	transition: 0.3s ease;
}
.can-help__cards:nth-of-type(1) .can-help__card:nth-of-type(3):hover::after {
	opacity: 0;
}
.can-help__cards:nth-of-type(1) .can-help__card:nth-of-type(4) {
	background: #62d0df;
}
.can-help__cards:nth-of-type(1) .can-help__card:nth-of-type(5) {
	background: #dee1ff;
}
.can-help__cards:nth-of-type(1) .can-help__card:nth-of-type(6) {
	background: #8f00ff;
}
.can-help__group_add,
.can-help__cards_add {
	width: 100%;
}
.can-help__cards_add {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(2, 240px);
}
.can-help__card_add {
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	padding: 55px 90px 0;
	gap: 28px;
	color: var(--main-blue-color);
}
.card__title_add {
	font-size: 28px;
	line-height: 33px;
	letter-spacing: -0.03em;
}
.card__descr_add {
	font-size: 16px;
	line-height: 25px;
	letter-spacing: -0.03em;
}

.also-know .container {
	display: flex;
	gap: 106px;
}
.also-know__text {
	padding-top: 103px;
	padding-right: 175px;
	padding-bottom: 42px;
}
.also-know .btn {
	margin-top: 152px;
	padding-left: 0;
}
.also-know__title,
.also-know__descr {
	color: var(--main-blue-color);
}
.also-know__title {
	font-size: 16px;
	line-height: 12px;
	letter-spacing: 0.06em;
	margin-bottom: 225px;
}
.also-know__descr {
	font-size: 36px;
	line-height: 53px;
	letter-spacing: -0.01em;
	font-weight: bold;
}
.brand-name {
	color: var(--main-green-color);
}

.info .container {
	display: flex;
	gap: 68px;
}
.info__text {
	display: grid;
	grid-template-columns: repeat(3, 223px);
	gap: 40px;
}
.info__title {
	font-size: 14px;
	line-height: 11px;
	letter-spacing: -0.006em;
	font-weight: bold;
	color: var(--main-blue-color);
	margin-bottom: 40px;
}
.info__descr {
	font-size: 14px;
	line-height: 23px;
	letter-spacing: -0.006em;
	color: rgba(34, 53, 111, 0.5);
}
.info__block {
	padding-right: 30px;
}
.info__block:not(:last-of-type) {
	border-right: 1px solid #f9f9f9;
}
.info__links {
	display: flex;
	flex-flow: column wrap;
	gap: 5px;
	margin-top: 25px;
}
.info__a {
	text-decoration: none;
	color: #006dff;
}

footer {
	padding: 32px 179px;
	background: var(--main-green-color);
	max-width: 100%;
}
footer .copyright span {
	display: block;
	color: #fff;
	font-size: 14px;
	line-height: 11px;
	letter-spacing: -0.006em;
}
